@{
    ViewData["Title"] = "Main Page";
    Layout = "~/Views/Shared/_MainPartial.cshtml";
}

<div id="app">
    <div class="table-form">
        <div class="content">
            <div class="registration-heading">
                <h1>All Books</h1>
            </div>
            <div class="data-grid">
                <table  id="myTable">
                    <thead>
                    <tr>
                        <th class="book-id">№</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Number of Pages</th>
                        <th>Rating</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var book in ViewBag.Books)
                    {
                        <tr>
                            <td class="book-id">@book.Id</td>
                            <td>@book.Title</td>
                            <td>@book.Author</td>
                            <td>@book.NumberOfPages</td>
                            <td>@book.Rating</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                <button id="prevBtn" class="btn btn-outline-secondary">Previous</button>
                <button  id="nextBtn" class="btn btn-outline-secondary">Next</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/home.js" asp-append-version="true"></script>

