@{
    ViewData["Title"] = "Book Page";
    Layout = "~/Views/Shared/_MainPartial.cshtml";
}

<div id="app">
    <div class="table-form">
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="title registration-heading">@ViewBag.Book.Title</h2>
                    <h3 class="author registration-subheading">@ViewBag.Book.Author</h3>
                    <p class="description site-description">@ViewBag.Book.Description</p>
                    <div class="actions">
                        <button id="readBtn" class="btn btn-outline-secondary"  onclick="redirectToReadPage()">Read</button>
                        <button id="folderBtn" class="btn btn-outline-secondary" >Add to Folder</button>
                        <button id="favBtn" class="btn btn-outline-secondary" >Add to Favorites</button>
                        <form asp-controller="Book"
                              asp-action="AddToLibrary"
                              asp-route-id="@ViewBag.Book.Id" method="post" class="d-inline">
                        <button class="btn btn-outline-secondary">
                            Add to My Library
                        </button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="book-image-container"></div>
                </div>
            </div>
            
                
        </div>
    </div>
</div>

<script>
    function redirectToReadPage() {
        const baseUrl = '@Url.Action("ReadBookPage", "Book")';
        const url = `${baseUrl}/${@ViewBag.Book.Id}`;
        window.location.href = url;
    }


    document.addEventListener("DOMContentLoaded", function () {
        var added = '@(ViewBag.Added?.ToString().ToLower() ?? "null")';
        console.log(added)
        if (added !== "null" && added === "false") {
            showModal("You have already added this book!");
        } else if (added !== "null" && added === "true") {
            showModal("Book is successfully added to your library!");
        }
    });
</script>

@Html.Partial("/Views/Shared/ModalWindow.cshtml")